.md-tag {
    background: lightcyan;
    border-radius: 6px;
    padding: 3px
}

.md-h1,
.md-h2,
.md-h3,
.md-h4,
.md-h5,
.md-h6 {
    font-weight: bold;
    padding: 0px 0px 2px 2px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

.md-h1 {
    border-bottom: 2px solid black;
}

.md-quote {
    border-left: 4px solid lightgreen;
    padding-left: 8px;
}

.md-italics {
    font-style: italic;
}

.md-bold {
    font-weight: bold;
}

.md-p {
    margin: 5px 0px;
}

/* 原生标签样式 */

ul {
    list-style: disc;
    margin-left: 0px
}

ol {
    list-style: decimal;
    margin-left: 0px
}

a {
    font-weight: bold;
    color: lightgreen
}

img {}